//-------------------- variables primary --------------------//

$primary-background-color	: #F9F9F9;
$primary-font				:'Roboto' , sans-serif;
$primary-font-size			: 1em;
$primary-width				: 100%;
$primary-height				: 100%;
$primary-vertical-align		: top;


//-------------------- variables theme --------------------//

$theme-color-light	: #BF6E7C;
$theme-color-dark	: #99414D;



//-------------------- variables reset --------------------//

$reset-margin	: 0;
$reset-padding	: 0;



//-------------------- variables header --------------------//

$header-background-color: $theme-color-light;
$header-color			: $theme-color-dark;
$header-text-align		: center;
$header-padding			: 10px 0;



//-------------------- variables menu --------------------//

$menu-toggle-width: 20px;
$menu-toggle-height: 28px;
$menu-toggle-display: inline-block;
$menu-toggle-margin: 0 20px 0 20px;

$menu-toggle-bar-height: 3px;

//hollow effect: comment
$menu-toggle-bar-color: #F9F9F9;

//hollow effect: uncomment
// $menu-toggle-bar-color: transparent;
// $menu-toggle-bar-border: 1px solid #F9F9F9;



//-------------------- variables content --------------------//

$content-padding: 20px;



//-------------------- variables footer --------------------//

$footer-background-color: $theme-color-dark;
$footer-height: 200px;



//-------------------- @mixin --------------------//

@mixin height-lineHeight($value) {
	height: $value;
	line-height: $value;
}

@mixin borderRadius($value) {
	-webkit-border-radius: $value;
	-moz-border-radius: $value;
	-ms-border-radius: $value;
	-o-border-radius: $value;
	border-radius: $value;
}

@mixin transform($value) {
	-webkit-transform: $value;
	-moz-transform: $value;
	-ms-transform: $value;
	-o-transform: $value;
	transform: $value;
}

@mixin transition($value) {
	-webkit-transition: $value;
	-moz-transition: $value;
	-ms-transition: $value;
	-o-transition: $value;
	transition: $value;
}



//-------------------- normalize/general --------------------//

html, body {
	width: $primary-width;
	height: $primary-height;
	background-color: $primary-background-color;
	margin: $reset-margin;
	padding: $reset-margin;
	font-family: $primary-font;
	font-size: $primary-font-size;
	-webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	margin: $reset-margin;
}

.page-container {
	min-height: 100%;
	margin-bottom: -$footer-height;
}

.page-container:after {
	content: "";
	display: block;
}

footer, .page-container:after {
	height: $footer-height;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.container {
	width: 100%;
	position: relative;
}



//-------------------- header --------------------//

header {
	background-color: $header-background-color;
	color: $header-color;
	width: $primary-width;
	padding: $header-padding;
	
	@include height-lineHeight(200px);
}

header h1, header h2, header h3, header h4, header h5, header h6 {
	display: inline-block;
	vertical-align: $primary-vertical-align;
}



//-------------------- menuToggle: Cross --------------------//

.menu_toggle {
	width: $menu-toggle-width;
	height: 100%;
	display: $menu-toggle-display;
	margin: $menu-toggle-margin;
	cursor: pointer;
	tevertical-align: $primary-vertical-align;
	// position: absolute;
	// right: 0;
}

.menu_toggle_cross {
	width: $menu-toggle-width;
	height: $menu-toggle-height/4;
	display: $menu-toggle-display;

	.menu_toggle_cross_bar {
		cursor: pointer;
		width: $menu-toggle-width;
		height: $menu-toggle-bar-height;
		background: $menu-toggle-bar-color;

		//hollow effect: uncomment
		// border: $menu-toggle-bar-border;

		position: absolute;
		content: '';

		@include transition(all 300ms ease-in-out);
		@include borderRadius(1px);

		&:before {
			@extend .menu_toggle_cross_bar;

			//hollow effect: comment
			top: -6px; 

			//hollow effect: uncomment
			// top: -8px;
			// left: -1px;
		}

		&:after {
			@extend .menu_toggle_cross_bar;

			//hollow effect: comment
			bottom: -6px;

			//hollow effect: uncomment
			// bottom: -8px;
			// left: -1px;
		}
	}
	
	&.active {
		span {
			//hollow effect: comment
			background-color: transparent;
			
			//hollow effect: uncomment
			// border: transparent;
			
			&:before {
				top: 0;
				@include transform(rotate(45deg));
			}

			&:after {
				top: 0;
				@include transform(rotate(-45deg));
			}
		}
	}
}



//-------------------- content --------------------//

.content {
	padding: $content-padding;
	padding-bottom: $footer-height;
}



//-------------------- footer --------------------//

footer {
	bottom: 0;
	width: $primary-width;
	height: $footer-height;
	background-color: $footer-background-color;
}