/* line 100, ../sass/core.scss */
html, body {
  width: 100%;
  height: 100%;
  background-color: #F9F9F9;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  -webkit-overflow-scrolling: touch;
}

/* line 111, ../sass/core.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* line 115, ../sass/core.scss */
.page-container {
  min-height: 100%;
  margin-bottom: -200px;
}

/* line 120, ../sass/core.scss */
.page-container:after {
  content: "";
  display: block;
}

/* line 125, ../sass/core.scss */
footer, .page-container:after {
  height: 200px;
}

/* line 129, ../sass/core.scss */
.text-center {
  text-align: center;
}

/* line 133, ../sass/core.scss */
.text-left {
  text-align: left;
}

/* line 137, ../sass/core.scss */
.text-right {
  text-align: right;
}

/* line 141, ../sass/core.scss */
.container {
  width: 100%;
  position: relative;
}

/* line 150, ../sass/core.scss */
header {
  background-color: #BF6E7C;
  color: #99414D;
  width: 100%;
  padding: 10px 0;
  height: 200px;
  line-height: 200px;
}

/* line 159, ../sass/core.scss */
header h1, header h2, header h3, header h4, header h5, header h6 {
  display: inline-block;
  vertical-align: top;
}

/* line 168, ../sass/core.scss */
.menu_toggle {
  width: 20px;
  height: 100%;
  display: inline-block;
  margin: 0 20px 0 20px;
  cursor: pointer;
  tevertical-align: top;
}

/* line 179, ../sass/core.scss */
.menu_toggle_cross {
  width: 20px;
  height: 7px;
  display: inline-block;
}
/* line 184, ../sass/core.scss */
.menu_toggle_cross .menu_toggle_cross_bar, .menu_toggle_cross .menu_toggle_cross_bar:before, .menu_toggle_cross .menu_toggle_cross_bar:after {
  cursor: pointer;
  width: 20px;
  height: 3px;
  background: #F9F9F9;
  position: absolute;
  content: '';
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
}
/* line 199, ../sass/core.scss */
.menu_toggle_cross .menu_toggle_cross_bar:before {
  top: -6px;
}
/* line 210, ../sass/core.scss */
.menu_toggle_cross .menu_toggle_cross_bar:after {
  bottom: -6px;
}
/* line 223, ../sass/core.scss */
.menu_toggle_cross.active span {
  background-color: transparent;
}
/* line 230, ../sass/core.scss */
.menu_toggle_cross.active span:before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 235, ../sass/core.scss */
.menu_toggle_cross.active span:after {
  top: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 247, ../sass/core.scss */
.content {
  padding: 20px;
  padding-bottom: 200px;
}

/* line 256, ../sass/core.scss */
footer {
  bottom: 0;
  width: 100%;
  height: 200px;
  background-color: #99414D;
}
